<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" href="./favicon.ico" />
    <title>私房摄影|网红|抖娘|张小姐|可儿儿|</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-lazyload/vue-lazyload.js"></script>
    <style type="text/css">
      .img {
        width: 100%;
      }
    </style>
  </head>
  <body>
    <noscript
      ><strong
        >We're sorry but ya-ui doesn't work properly without JavaScript enabled.
        Please enable it to continue.</strong
      ></noscript
    >
    <div id="app">
      <template v-for="item in 200">
        <div>大傻逼 </div>
        <!-- <img v-if="item==8" class="img" src="./zhang/2.jpg" />
        <img
          v-else
          class="img"
          v-lazy="'./zhang/'+item+'_1650290952497.jpeg'"
        /> -->
      </template>
    </div>
    <script>
      Vue.use(VueLazyload);
      var app = new Vue({
        el: "#app",
        data: {
          message: "Hello Vue!",
        },
      });
    </script>
  </body>
</html>
